@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import "assets/styles/overrides";
@import "assets/styles/breakpoints";
@import "assets/styles/typography";
@import "assets/styles/global";

*:focus {outline:none !important}
iframe[name^="checkout-frames"] {
  /* Fix auto fill color bug in credit card number frame */
  height: 55px !important;
  border-radius: 6px;
}

select {
  background: transparent;
  border: none;
  color: white;

  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
  padding: 9px 20px 9px 9px;
}
